<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Your Account</title>
</head>
<body>
    <h1>Hello <b><%= firstName $>!</b></h1>
    <p>We received a request to reset your password. Click the button below to set a new password:</p>
    <a href="<%= verificationLink %>">Reset Password</a>
    <p>This link will expire in 15 minutes</p>
    <p>If you want to resend this email <a href="<%= resend %>">click here</a></p>
</body>
</html>