<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your 2FA Code</title>
</head>
<body>
    <h1>Hello <b><%= firstName %>!</b></h1>
    <p>Here's your 2FA code:</p>
    <h2><%= code %></h2>
</body>
</html>