<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Your Account</title>
</head>
<body>
    <h1>Hello <b><%= firstName %>!</b></h1>
    <p>Thank you for registering. Please verify your account by clicking the link below:</p>
    <a href="<%= verificationLink %>">Verify Account</a>
    <p>This link will expire in 5 minutes</p>
    <p>If you want to resend this email <a href="<%= resend %>">click here</a></p>
</body>
</html>